<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="Name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="category.name"
            name="name"
          />
        </div>
  
        <div class="form-group">
          <label for="description">Description</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="category.description"
            name="description"
          />
        </div>
  
        <button (click)="saveCategory()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Category was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newCategory()">Add</button>
      </div>
    </div>
  </div>
